.air.toml
.vscode
.idea
*.exe
*.exe~
Gopkg.lock
*.env
build/*.env
*.rsa
*.pub
*.log
*.DS_Store

vendor

# Temp
tmp

# conf
conf

# Log
logs/*.log

# unit test results
unit_test
unit_test*
*.out

# conf
sql